.App {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 25%;
}

.QuoteContainer {
  width: 500px;
  box-shadow: 5px 2px 50px -20px #000;
  background-color: #fff;
  position: relative;
}

.quote-mark {
  font-size: 52px;
  position: absolute;
  display: flex;
  left: 10px;
}

.quote-text {
  margin-left: 60px;
}

.author-text {
  text-align: end;
  margin-right: 1rem;
}

.button-container {
  text-align: end;
  margin: 1rem;
}

.button-box {
  border-radius: 50%;
}

.fa-angle-right {
  font-size: 32px;
}